#avatar {
	position: absolute;
    top: 1%;
    right: 1%;
   }
img#photo {
	width: 100px;
	height: auto;
}
body {
   margin: 20px;
}
#skills {
	display: flex;
}
#clouds{
	margin-top: 30px;
	margin-left: -60px;
}
#kubernetes {
	margin: 30px;
}
#iaac {
	margin: 30px;
}
#cicd {
	margin: 30px;
}
#build {
	margin: 30px;
}

#scripting {
	margin: 30px;
}
#telemetry {
	margin: 30px;
}
#db {
	margin: 30px;
}
#ai-ml {
	margin: 30px;
}
#os {
	margin: 30px;
}
#java {
	margin: 30px;
}

#summary {
	
	position: relative;
}
#experience {
	
	position: relative;
}
